/* *{
  height: 100vh;
  width: 100vw;
} */

/* .heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 20vh;
}


.overall-student-box{ */
  /* width:80%; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.student-box{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100px;
  height: 150px;
  padding: 20px;
} */

.overall-student-box{
  display: flex;
  border: 1px solid black;
  gap: 20px;
}